@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

h1,
h2 {
   padding-top: 20px;
   color: #3498DB;
   font-size: 70px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   letter-spacing: 2px;
}

body {
   background-color: #D5F5E3;
   text-align: center;
}

#cork-city-pic {
   background: url('../images/cork-city.jpeg') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
}

#food-pic {
   background: url('../images/lab.png') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
}

#market-pic {
   background: url('../images/marina-market.jpeg') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
}

#pics {
   display: flex;
   justify-content: center;
   flex-direction: row;
   animation-name: pic-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;
}

@keyframes pic-zoom {
   from {
      transform: scale(1.0);
   }

   to {
      transform: scale(1.08);
   }
}

hr {
   margin: 30px auto;
   border-top: 1px dotted black;
   width: 30%;
}

br {
   padding-top: 10px;
}

p {
   font-size: 20px;
   color: #000000;
   font-family: 'Inconsolata', monospace;
   width: 66%;
   margin: auto;
}

#find-it {
   padding-bottom: 150px;
}

#where-to-go {
   display: flex;
   justify-content: center;
   flex-direction: row;
}

#restaurant-open {
   background: url('../images/rest-image.webp');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;

}

#sports {
   background: url('../images/pairc.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;
}

#nightlife {
   background: url('../images/music.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;

}

#explorer {
   background: url('../images/explorer.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;
}

h3 {
   line-height: 180px;
   color: #FDFEFE;
   font-size: 35px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   letter-spacing: 2px;
   text-align: center;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   border-bottom: 2px solid black;
}

#social {
   margin: 0 auto;
   font-size: 100px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   letter-spacing: 2px;
}