/* Standard css for entire website */

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

h1, h2 {
   padding-bottom: 20px;
   padding-top: 20px;
   color: #3498DB;
   font-size: 70px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   letter-spacing: 2px;
}

body {
   background-color: #D5F5E3;
   font-family: 'Space Grotesk', sans-serif;
}

/* navigation */
#navbar li{
   display: flex;
   justify-content: center;
   flex-direction: row;
}

#navbar, h1 {
   line-height: 60px;
}

/* images */
#cork-city-pic {
   background: url('../images/cork-city.jpeg') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
   border: 1px solid black;
}

#food-pic {
   background: url('../images/shrimp.jpeg') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
   border: 1px solid black;
}

#market-pic {
   background: url('../images/marina-market.jpeg') no-repeat center center;
   width: 25%;
   height: 200px;
   background-size: cover;
   overflow: hidden;
   border: 1px solid black;
}

#pics {
   display: flex;
   justify-content: center;
   flex-direction: row;
   animation-name: pic-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;
}

@keyframes pic-zoom {
   from {
      transform: scale(1.0);
   }

   to {
      transform: scale(1.08);
   }
}
/* inbetween paragraphs */
hr {
   margin: 30px auto;
   border-top: dotted;
   width: 5%;
   border-width: 5px;
}

br {
   padding-top: 10px;
}

p {
   font-size: 20px;
   color: #000000;
   width: 66%;
   margin: auto;
}

/* more images at bottom */
#find-it {
   padding-bottom: 100px;
}

#where-to-go {
   display: flex;
   justify-content: center;
   flex-direction: row;
}

#restaurant-open {
   background: url('../images/rest-image.webp');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;

}

#sports {
   background: url('../images/pairc.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;
}

#nightlife {
   background: url('../images/music.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;

}

#explorer {
   background: url('../images/explorer.jpeg');
   width: 22%;
   height: 200px;
   background-size: cover;
   padding-top: 40px;
   border: 1px solid black;
   overflow: hidden;
}
h3 {
   line-height: 165px;
   color: #EAF2F8;
   font-size: 35px;
   letter-spacing: 2px;
   text-align: center;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover {
   border-bottom: 2px solid black;
}

.middle {
   text-align: center;

}
/* footer */
#social {
   margin: 0 auto;
   font-size: 100px;
   letter-spacing: 2px;
   color: #5B2C6F;
}

footer {
   margin-top: 80px;
   background-color: #CCCCFF;
}